Repository inthepocket/hubble-scripts, pull requests merged in 2019-08, with the labels that each got.

#48 Add support for blur tokens
  __mocks__/figma/sample_dump.json
  __mocks__/figma/sample_output.json
  __mocks__/figma/sample_output.styledictionary.json
  __mocks__/sketch/sample_dump.json
  __mocks__/sketch/sample_output.artboard.json
  __mocks__/sketch/sample_output.document.json
  __mocks__/sketch/sample_output.styledictionary.json
  __mocks__/sketch/sample_sketchfile.sketch
  __tests__/__snapshots__/verifyMocks.test.js.snap
  index.js
  lib/__tests__/utils.test.js
  lib/figma.js
  lib/mappers/__tests__/__fixtures__/mapper.figma.js
  lib/mappers/blur.js
  lib/mappers/figma/blur.js
  lib/mappers/figma/index.js
  lib/mappers/index.js
  lib/mappers/sketch/blur.js
  lib/mappers/sketch/gradient.js
  lib/mappers/sketch/index.js
  lib/parser/index.js
  lib/sketch.js
  lib/styleDictionary/blurMapping.js
  lib/styleDictionary/index.js
  lib/utils.js
Labels: Figma, enhancement, sketch

#50 Export assets as PDF
  __mocks__/sketch/exported_assets/icons/hubble/plain.pdf
  __mocks__/sketch/exported_assets/icons/hubble/plain.png
  __mocks__/sketch/exported_assets/icons/hubble/plain.svg
  __mocks__/sketch/exported_assets/icons/hubble/plain@1.5x.png
  __mocks__/sketch/exported_assets/icons/hubble/plain@2x.png
  __mocks__/sketch/exported_assets/icons/hubble/plain@3x.png
  __mocks__/sketch/exported_assets/icons/hubble/plain@4x.png
  __mocks__/sketch/exported_assets/illustrations/hubble/telescope.pdf
  __mocks__/sketch/exported_assets/illustrations/hubble/telescope.png
  __mocks__/sketch/exported_assets/illustrations/hubble/telescope.svg
  __mocks__/sketch/exported_assets/illustrations/hubble/telescope@1.5x.png
  __mocks__/sketch/exported_assets/illustrations/hubble/telescope@2x.png
  __mocks__/sketch/exported_assets/illustrations/hubble/telescope@3x.png
  __mocks__/sketch/exported_assets/illustrations/hubble/telescope@4x.png
  generate_mocks.sh
  sketchtool.sh
Labels: enhancement, sketch

#51 Add support for downloading images from the Figma api marked as exportable
  .circleci/config.yml
  __mocks__/figma/assets/icon.svg
  __mocks__/figma/assets/icons/hubble/plain.png
  __mocks__/figma/assets/icons/hubble/plain.svg
  __mocks__/figma/assets/icons/hubble/plain@2x.png
  __mocks__/figma/assets/icons/hubble/plain@3x.png
  __mocks__/figma/assets/illustrations/hubble/telescope.png
  __mocks__/figma/assets/illustrations/hubble/telescope.svg
  __mocks__/figma/assets/illustrations/hubble/telescope@2x.png
  __mocks__/figma/assets/illustrations/hubble/telescope@3x.png
  __mocks__/figma/sample_dump.json
  __tests__/__snapshots__/verifyMocks.test.js.snap
  cli.js
  generate_mocks.sh
  index.js
  lib/figma.js
  lib/parser/index.js
  lib/utils.js
Labels: Figma, enhancement

#57 Fallback to normal font weight when name is not defined
  lib/font.js
Labels: bug

#58 4.2.1
  lib/font.js
Labels: release 🔖
