Repository inthepocket/hubble-scripts, pull requests merged in 2019-07, with the labels that each got.

#43 Remove comments from SVGs
  hubble.sh
  sketchtool.sh
Labels: enhancement

#44 Update Sketch file with new assets
  __mocks__/sample_assets/images/icons/hubble/plain.png
  __mocks__/sample_assets/images/icons/hubble/plain.svg
  __mocks__/sample_assets/images/icons/hubble/plain@1.5x.png
  __mocks__/sample_assets/images/icons/hubble/plain@2x.png
  __mocks__/sample_assets/images/icons/hubble/plain@3x.png
  __mocks__/sample_assets/images/icons/hubble/plain@4x.png
  __mocks__/sample_assets/images/icons/level2/code-check.png
  __mocks__/sample_assets/images/icons/level2/code-check.svg
  __mocks__/sample_assets/images/icons/level2/code-check@2x.png
  __mocks__/sample_assets/images/icons/level2/code-check@3x.png
  __mocks__/sample_assets/images/illustrations/hubble/telescope.png
  __mocks__/sample_assets/images/illustrations/hubble/telescope.svg
  __mocks__/sample_assets/images/illustrations/hubble/telescope@1.5x.png
  __mocks__/sample_assets/images/illustrations/hubble/telescope@2x.png
  __mocks__/sample_assets/images/illustrations/hubble/telescope@3x.png
  __mocks__/sample_assets/images/illustrations/hubble/telescope@4x.png
  __mocks__/sample_dump.json
  __mocks__/sample_output.document.json
  __mocks__/sample_output.json
  __mocks__/sample_sketchfile.sketch
  __tests__/__snapshots__/verifyMocks.test.js.snap
Labels: sketch

#46 Figma integration
  .prettierignore
  .travis.yml
  __mocks__/figma/sample_dump.json
  __mocks__/figma/sample_output.json
  __mocks__/figma/sample_output.styledictionary.json
  __mocks__/sketch/sample_dump.json
  __mocks__/sketch/sample_output.artboard.json
  __mocks__/sketch/sample_output.document.json
  __mocks__/sketch/sample_output.styledictionary.json
  __mocks__/sketch/sample_sketchfile.sketch
  __tests__/__snapshots__/verifyMocks.test.js.snap
  __tests__/verifyMocks.test.js
  cli.js
  generate_mocks.sh
  index.js
  lib/__tests__/sketch.test.js
  lib/__tests__/utils.test.js
  lib/figma.js
  lib/font.js
  lib/mappers/__tests__/__fixtures__/mapper.figma.js
  lib/mappers/__tests__/__fixtures__/mapper.sketch.js
  lib/mappers/__tests__/__snapshots__/mapper.figma.test.js.snap
  lib/mappers/__tests__/__snapshots__/mapper.sketch.test.js.snap
  lib/mappers/__tests__/mapper.figma.test.js
  lib/mappers/__tests__/mapper.sketch.test.js
  lib/mappers/color.js
  lib/mappers/figma/border.js
  lib/mappers/figma/color.js
  lib/mappers/figma/gradient.js
  lib/mappers/figma/index.js
  lib/mappers/figma/shadow.js
  lib/mappers/figma/textstyle.js
  lib/mappers/index.js
  lib/mappers/sketch/border.js
  lib/mappers/sketch/color.js
  lib/mappers/sketch/gradient.js
  lib/mappers/sketch/index.js
  lib/mappers/sketch/shadow.js
  lib/mappers/sketch/textstyle.js
  lib/parser/constants.js
  lib/parser/index.js
  lib/sketch.js
  lib/styleDictionary/assetMapping.js
  lib/styleDictionary/colorMapping.js
  lib/styleDictionary/fontMapping.js
  lib/styleDictionary/index.js
  lib/styleDictionary/lineHeightMapping.js
  lib/styleDictionary/sizeMapping.js
  lib/styleDictionary/util.js
  lib/styleDictionary/weightMapping.js
  lib/utils.js
  package-lock.json
  package.json
Labels: Figma, enhancement
