Repository inthepocket/hubble-scripts, pull requests merged in 2020-04, with the labels that each got.

#69 Get JSON files from Adobe XD file (.xd)
  generate_mocks.sh
  lib/adobexd.js
  lib/parser/constants.js
  lib/parser/index.js
  lib/utils.js
  package-lock.json
  package.json
Labels: adobexd

#70 Match token references
  lib/adobexd.js
  lib/parser/index.js
Labels: adobexd

#72 Make sketchtool wrapper file safer
  sketchtool.sh
Labels: enhancement, sketch

#73 Map raw data to Hubble tokens
  .vscode/settings.json
  __mocks__/adobexd/sample_adobexd_lib.xd
  __mocks__/adobexd/sample_dump.json
  __mocks__/adobexd/sample_output.json
  generate_mocks.sh
  lib/adobexd.js
  lib/mappers/adobexd/blur.js
  lib/mappers/adobexd/border.js
  lib/mappers/adobexd/color.js
  lib/mappers/adobexd/gradient.js
  lib/mappers/adobexd/index.js
  lib/mappers/adobexd/shadow.js
  lib/mappers/adobexd/textstyle.js
  lib/mappers/index.js
  lib/parser/index.js
  lib/utils.js
Labels: adobexd

#75 Export Adobe XD file to style dictionary
  __mocks__/adobexd/sample_output.styledictionary.json
  generate_mocks.sh
Labels: adobexd

#74 Grab textstyles from document instead of artboards
  __mocks__/adobexd/sample_dump.json
  __mocks__/adobexd/sample_output.json
  lib/adobexd.js
  lib/mappers/adobexd/textstyle.js
Labels: adobexd

#77 Grid support
  __mocks__/adobexd/sample_adobexd_lib.xd
  __mocks__/adobexd/sample_dump.json
  __mocks__/adobexd/sample_output.json
  __mocks__/adobexd/sample_output.styledictionary.json
  lib/adobexd.js
Labels: adobexd

#78 Snapshot testing for Adobe XD
  __tests__/__snapshots__/verifyMocks.test.js.snap
  __tests__/verifyMocks.test.js
  lib/mappers/__tests__/__fixtures__/mapper.adobexd.js
  lib/mappers/__tests__/__snapshots__/mapper.adobexd.test.js.snap
  lib/mappers/__tests__/mapper.adobexd.test.js
Labels: adobexd

#76 ✨Adobe XD support
  .vscode/settings.json
  __mocks__/adobexd/sample_adobexd_lib.xd
  __mocks__/adobexd/sample_dump.json
  __mocks__/adobexd/sample_output.json
  __mocks__/adobexd/sample_output.styledictionary.json
  __tests__/__snapshots__/verifyMocks.test.js.snap
  __tests__/verifyMocks.test.js
  generate_mocks.sh
  lib/adobexd.js
  lib/mappers/__tests__/__fixtures__/mapper.adobexd.js
  lib/mappers/__tests__/__snapshots__/mapper.adobexd.test.js.snap
  lib/mappers/__tests__/mapper.adobexd.test.js
  lib/mappers/adobexd/blur.js
  lib/mappers/adobexd/border.js
  lib/mappers/adobexd/color.js
  lib/mappers/adobexd/gradient.js
  lib/mappers/adobexd/index.js
  lib/mappers/adobexd/shadow.js
  lib/mappers/adobexd/textstyle.js
  lib/mappers/index.js
  lib/parser/constants.js
  lib/parser/index.js
  lib/utils.js
  package-lock.json
  package.json
Labels: adobexd, enhancement

#80 Replace node-fs mkdir function with a recursive alternative
  lib/mappers/__tests__/__snapshots__/mapper.adobexd.test.js.snap
  lib/mappers/__tests__/mapper.adobexd.test.js
  lib/utils.js
Labels: bug, figma
